
.header__fixed.animated
    .container-fluid.clearfix

        img(
            src="./img/img-header-logo.png"
            title=""
            alt=""
            class="header__fixed-logo"
        )

        a(
            href="javascript:void(0);"
            title="open menu"
            class="btn-burger header__fixed-btn"
        )
            span.header__fixed-btn_line-0
            span.header__fixed-btn_line-1
            span.header__fixed-btn_line-2