
.logotype
    .logotype__row
        img(
            src="./img/img-logo-0.png"
            title=""
            alt=""
            class="logotype__img-0"
        )

        img(
            src="./img/img-logo-1.png"
            title=""
            alt=""
            class="img_responsive logotype__img-1"
        )

    .logotype__wrap
        img(
            src="./img/img-logo-bg.png"
            alt=""
            title=""
            class="img_responsive logotype__img-2"
        )

