
.logotype
    img(
        src="./img/img-logo-0.png"
        title=""
        alt=""
        class="logotype__img-0"
    )

    img(
        src="./img/img-logo-1.png"
        title=""
        alt=""
        class="logotype__img-1 logotype__img-big"
    )
    img(
        src="./img/img-logo-1-mobile.png"
        title=""
        alt=""
        class="logotype__img-1 logotype__img-mobile"
    )
