
.register

    img(
        src="./img/img-register.png"
        title="image register"
        alt="img register"
        class="register__img register__img-large register__img-0"
    )
    img(
        src="./img/img-register-mobile.png"
        title="image register"
        alt="img register"
        class="register__img-mobile register__img-0"
    )

    img(
        src="./img/img-register-shadow.png"
        title="image register shadow"
        alt="image register shadow"
        class="register__img register__img-1"
    )