//- HEAD
mixin headSite(titleName, styleFile, arrFontName)
    head
        //- META TAGS
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="x-ua-compatible" content="ie=edge")

        //- TITLE
        title!= titleName

        //- FAVICON
        //link(rel="icon" type="image/png" href="./img/favicon.png")

        //- LINK CSS
        - for(var i = 0, styleFileLength = styleFile.length; i < styleFileLength; i++)
            link(href= styleFile[i], rel="stylesheet")

        //- LINK FONTS
        - for(var j = 0, arrFontNameLength = arrFontName.length; j < arrFontNameLength; j++)
            link(href= arrFontName[j], rel='stylesheet')

//- MAIN TITLE
mixin mainTitle(classNameColorText, titleText)
    div(class="main__title main__title_" + classNameColorText)
        i.main__title-icon
        i.main__title-line
        p.main__title-text!= titleText

//- MAIN LIST BIG
mixin mainListBig(className, count, arrText)
    ul(class="main__list main__list-" + className)
        - for(var i = 0, j = 1; i < count; i++, j++)
            li.main__item
                p.main__num!= "0" + j
                span.main__line
                p.main__text!= arrText[i]
                i(class="main__icon main__icon-" + i)

//- SMALL LIST
mixin smallList(arrText)
    ul.small__list
        - for(var i = 0; i < arrText.length; i++)
            li.small__item
                .small__icon-wrap
                    i.small__icon
                p.small__text!= arrText[i]
