
footer.footer
    .container.clearfix

        img(
            src="./img/img-header-logo.png"
            title=""
            alt=""
            class="footer__img"
        )

        .footer__btn
            a(
                href="javascript:void(0);"
                title=""
                class="footer__btn-vk"
            )
            a(
                href="javascript:void(0);"
                title=""
                class="footer__btn-fb"
            )
