
header#header.header

    include ./macros/headerFixed

    include ./macros/nav

    include ./macros/logo

    include ./macros/register

    h1.header__title!= "Первый видеорегистратор </br> созданный специально для внедорожников и кроссоверов"

    span.header__line

    img(
        src="./img/img-shadow.png"
        title=""
        alt=""
        class="img-shadow img_responsive"
    )