-
    var natureTitle = "Яркие впечатления </br> на природе";

    var natureText = [
        "Снимайте на память свои загородные поездки в формате FULL HD",
        "Самые красивые пейзажи можно сразу же скачать на смартфон и поделиться в соцсетях",
        "Надежное крепление, которое не отвалится и не будет дребезжать",
        "Защита от пыли, грязи и других повреждение"
    ];

#nature.nature.left

    p.nature__title.big__title.left__title!= "Яркие впечатления на природе"

    +mainTitle("white nature__hide", natureTitle)

    .row
        .row__left.row__left-down
            img(
                src="./img/img-nature.png"
                alt=""
                title=""
                class="nature__img img_responsive img_centered img"
            )
        .row__right.row__right-up

    .container-fluid.clearfix
        .nature__row.left__row
            +mainTitle("white", natureTitle)

            +smallList(natureText)
