-
    var specialTitle = "Создан специально </br> <span class='main__title-text_color'>для внедорожников</span>";

    var specialSubTitle = "AKENORI – лучший помощник в городе </br> и на природе";


.special

    +mainTitle("white special__hide", specialTitle)

    .row
        .row__left.row__left-up
        .row__right.row__right-down
            img(
                src="./img/img-special.png"
                title="image special car"
                alt="image special car"
                class="img_responsive special__img"
            )

    p.special__title.big__title!= "Создан специально"

    .container-fluid.clearfix

            .special__row.clearfix
                +mainTitle("white", specialTitle)

                .special__wrap.clearfix

                    p.special__sub-title!= specialSubTitle

                    a(
                        href="#nature"
                        title="buy"
                        class="special__btn btn btn__details"
                    )
                        | Подробнее
                        i.btn-icon

    img(
        src="./img/img-shadow.png"
        title=""
        alt=""
        class="img-shadow img_responsive"
    )