-
    var testimonialsTitle = "<span class='main__title-text_color'>обзоры </span> сми";

    var testimonialsText = "Ожидания полностью оправдал, с функцией регистратора справляется отлично";

.testimonials
    
    img(
        src="./img/img-testimonials.png"
        alt=""
        title=""
        class="testimonials__img"    
    )
    
    .container
        +mainTitle("gray", testimonialsTitle)


        .owl-carousel.testimonials__carousel.clearfix
            -for(var i = 0; i < 3; i++)
                .testimonials__item

                    i.testimonials__icon

                    .testimonials__item-wrap.clearfix

                        p.testimonials__text!= testimonialsText

                        img(
                            src="./img/img-logo-comp.png"
                            alt=""
                            title=""
                            class="img_responsive testimonials__item-img"
                        )

                    a(
                        href="javascript:void(0);"
                        title="buy"
                        class="testimonials__btn btn-read btn"
                    )
                        | читать...
                        i.btn-icon
