-
    var tripWithTitle = "Поездка </br> с AKENORI ";

    var tripWithText = [
        "Вы защищены от подстав – видео доказывает невиновность",
        "Научно доказано: видеорегистратор отпугивает недобросовестных сотрудников ГИБДД :)",
        "Видео с регистратора с GPS является доказательством в суде",
        "AKENORI уведомляет про камеры фиксации скорости и превышение скоростного режима",
        "Метеориты, милые олени и красивые закаты – лучшие моменты вашей поездки останутся на память"
    ];


.tripWith.right

    p.tripWith__title.big__title.right__title!= "Поездка с AKENORI"

    +mainTitle("white tripWith__hide", tripWithTitle)

    .row
        .row__left.row__left-up
        .row__right.row__right-down
            img(
                src="./img/img-tripWith.png"
                alt=""
                title=""
                class="tripWith__img img_responsive img_centered img"
            )

    .container-fluid.clearfix

        .tripWith__row.right__row
            +mainTitle("white", tripWithTitle)

            +smallList(tripWithText)
