
header.header
    img(
        src="./img/img-logo-0.png"
        title=""
        alt=""
        class="header__logo-0"
    )

    img(
        src="./img/img-logo-1.png"
        title=""
        alt=""
        class="header__logo-1"
    )

    .container
        h1.header__title!= "Lorem Ipsum is simply dummy</br>text of the printing!"

        p.header__title-sub!= "Lorem Ipsum is simply dummy text of the printing</br>industry. Lorem Ipsum has been the industry."

        a(
        href="javascript:void(0);"
        title="buy"
        class="header__btn btn")
            | на главную
            i.header__btn-icon


    img(
        src="./img/img-shadow.png"
        title=""
        alt=""
        class="img-shadow img_responsive header__shadow"
    )

    .row
        .row__left.row__left-half
        .row__right.row__right-half
            img(
                src="./img/img-box.png"
                title=""
                alt=""
                class="img-shadow img_responsive header__box"
            )
